* {
    margin: 0;
    padding: 0;
    border: none;
}

.left {
    float: left;
    width: 300px;
    background-color: #e3e3e3;
    height: 100dvh;
}

.right {
    float: right;
    width: calc(100dvw - 300px);
    height: 100dvh;
}